/*
  Landing page styles
*/

.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.landing-logo {
  position: absolute;
  top: 2rem;
  right: 10rem;
  width: 500px;
  height: auto;
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.landing-container {
  text-align: center;
}

.landing-main-links-container {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  justify-content: center;
  margin-left: 10rem; 
}


.landing-main-links-container a {
  font-size: 2rem;
  text-decoration: none;
  color: $brand-color;
  transition: color 0.3s ease, transform 0.1s ease-out;
  will-change: transform;
}

.landing-main-links-container a:hover {
  color: #666;
}

.landing-link-about {
  transform: translateY(1rem);
}

.landing-link-music {
  transform: translateY(-5rem);
}

.landing-link-photos {
  transform: translateY(8rem);
}

.landing-link-notes {
  transform: translateY(-2rem);
}

@media (max-width: 768px) {
  .landing-main-links-container {
    flex-direction: column;
    gap: 2rem;
  }

  .landing-logo {
    max-width: 100px;
    top: 1rem;
    right: 1rem;
  }
}

/* Adjustments for large screens (wider than 1260px) */
@media (min-width: 2200px) {

  .landing-main-links-container {
    margin-left: 20rem;
    margin-top: -5rem;
  }

  .landing-link-about {
    margin-right: 10rem;
  }

  .landing-link-music {
    margin-top: -7rem;
  }

  .landing-link-photos {
    margin-top: 9rem;
  }

  .landing-link-notes {
    margin-left: 5rem;
  }
}

.landing-page .footer {
  width: fit-content !important;
  margin-left: auto;
  margin-right: auto;
  outline: 3px solid transparent;
  margin-top: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto !important;
  line-height: normal !important;
  padding: 10px 0;
}

.landing-page .footer.highlight {
  animation: monoFlash 0.5s ease-in-out infinite;
}

/* Monochrome flashing animation */
@keyframes monoFlash {
  0%, 100% { outline-color: $brand-color; }
  50% { outline-color: transparent; }
}
